.visible {
  animation: fade-in 800ms ease forwards;
}

@keyframes fade-in {
  to {
    transform: translateY(var(--translate-y));
    opacity: var(--opacity-in);
  }
}

@keyframes scrollFollow {
  9% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%)
      translateY(calc(var(--main-height) * 0.6 - 200px));
    animation-timing-function: none;
  }

  80% {
    transform: translateX(-50%)
      translateY(calc(var(--main-height) * 0.9 - 200px - 18px));
  }

  100% {
    transform: translateX(-50%) translateY(calc(var(--main-height) - 254px));
  }
}
