.visible {
  animation: fade-in 800ms ease forwards;
}

@keyframes fade-in {
  to {
    transform: translateY(var(--translate-y));
    opacity: var(--opacity-in);
  }
}

@keyframes scrollFollow {
  0% {
    top: 0px;
  }
  100% {
    top: 750px;
  }
}
