body {
  font-family: "Raleway", sans-serif;
}

/* ============================= */
/* HERO */
/* ============================= */

.hero {
  height: calc(100vh - 70px);

  background: url("../public/equipe.webp") center right / cover no-repeat;

  display: flex;
  align-items: center;

  padding-left: 8%;
  color: #ffffff;
}

/* ============================= */
/* CONTENT */
/* ============================= */

.hero-content {
  max-width: 650px;
}

/* ============================= */
/* TITLE */
/* ============================= */

.hero-title {
  font-size: 50px;
  font-weight: 450;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

/* ============================= */
/* SUBTITLE */
/* ============================= */

.hero-subtitle {
  font-size: 26px;
  font-weight: 90;
  line-height: 1.7;
  margin-bottom: 55px;
  opacity: 0.8;
}

/* SECTION */
.founders {
  padding: 120px 0;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* TITRE */
.founders-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
}

/* TEAM */
.founders-team {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 80px;
}

.founder {
  text-align: center;
}

/* PHOTO */
.founder-photo {
  width: 220px;
  height: 220px;
  margin: 0 auto 25px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.founder-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Animation premium hover */
.founder:hover .founder-photo img {
  transform: scale(1.08);
}

.founder h3 {
  font-size: 22px;
  font-weight: 600;
}

/* TEXTE */
.founders-text {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.founders-text p {
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 25px;
  color: #333;
}

/* GROS GUILLEMET */
.big-quote {
  position: absolute;
  top: -60px;
  left: -40px;
  font-size: 180px;
  color: rgba(0, 0, 0, 0.05);
  font-family: serif;
  z-index: 0;
  pointer-events: none;
}

.founders-text p {
  position: relative;
  z-index: 2;
}

