/* ============================= */
/* HERO */
/* ============================= */

.hero {
  height: calc(100vh - 70px);

  background: url("../public/methode.webp") center right / cover no-repeat;

  display: flex;
  align-items: center;

  padding-left: 8%;
  color: #ffffff;
}

/* ============================= */
/* CONTENT */
/* ============================= */

.hero-content {
  max-width: 650px;
}

/* ============================= */
/* TITLE */
/* ============================= */

.hero-title {
  font-size: 50px;
  font-weight: 450;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 26px;
  font-weight: 90;
  line-height: 1.7;
  margin-bottom: 55px;
  opacity: 0.8;
}

main {
  position: relative;
  height: fit-content;
}

/* Vertical Scrollbar */

main::before,
main::after {
  content: "";
  position: absolute;
  left: 50%;
}

main::before {
  top: 200px;
  width: 2px;
  height: calc(100% - 200px);
  background-color: rgb(203, 203, 203);
  -webkit-mask: linear-gradient(transparent, white 10%, white 80%, transparent);
  mask: linear-gradient(transparent, white 10%, white 80%, transparent);
}

main::after {
  top: 200px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  width: 18px;
  height: 18px;
  background-color: #efbe28;

  transform: translateX(-50%) translateY(0);
  will-change: transform;
  animation: scrollFollow linear both;
  animation-timeline: scroll(nearest block);
  animation-duration: auto;
}

.method-title {
  text-align: center;
  padding: 80px 0;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
}

.method {
  --translate-y: 0;
  --opacity-in: 1;

  display: grid;
  gap: 64px;
  opacity: 0;
  padding: 24px 10%;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  transform: translateY(100px);
}

.method hgroup {
  display: grid;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 8px;
  border-radius: 8px;
  line-height: 1.4;
  text-align: justify;
}

.method hgroup h3,
.method hgroup p:last-of-type {
  font-family: "Raleway Semi-Bold";
  padding-block: 8px;
}
