/* ============================= */
/* HERO */
/* ============================= */

.hero {
  height: calc(100vh - 70px);

  background: url("../public/equipe.webp") center right / cover no-repeat;

  display: flex;
  align-items: center;

  padding-left: 8%;
  color: #ffffff;
}

/* ============================= */
/* CONTENT */
/* ============================= */

.hero-content {
  max-width: 650px;
}

/* ============================= */
/* TITLE */
/* ============================= */

.hero-title {
  font-size: 50px;
  font-weight: 450;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

/* ============================= */
/* SUBTITLE */
/* ============================= */

.hero-subtitle {
  font-size: 26px;
  font-weight: 90;
  line-height: 1.7;
  margin-bottom: 55px;
  opacity: 0.8;
}


/* Method */

.method {
  --translate-y: 0;
  --opacity-in: 1;

  display: grid;
  column-gap: 36px;
  opacity: 0;
  padding: 24px 10%;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  transform: translateY(100px);
}

.method hgroup {
  display: grid;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  gap: 8px;
  border-radius: 8px;
  line-height: 1.4;
}
