.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 4px 10vw;
}

.main-nav img {
  height: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #d4a017;
}
