/* Conteneur centré */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 60px;
}

/* NAVIGATION */
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #d4a017; /* doré */
}
